{% block scripts %}
	
	{% with messages = get_flashed_messages(with_categories=true) %}
		{% if messages %}
			<script>
				{% for category, message in messages %}
					$.notify("{{ message }}", { className: "{{ category }}", globalPosition: 'top left' });
				{% endfor %}
			</script>
		{% endif %}
	{% endwith %}
	
	
	{% if current_user.is_authenticated %}
	<script> $SCRIPT_ROOT = {{ request.script_root|tojson|safe }}; </script>
	<script src="{{ url_for('static', filename='js/base.js') }}"> </script>
	{% endif %}

{%- endblock scripts %}