{% import "bootstrap/wtf.html" as wtf %}

{% block content -%}
	{% block navbar %}
		<!--nav class="navbar navbar-expand-lg navbar-dark bg-primary rounded">
		  <a class="navbar-brand" href="#">Navbar</a>
		  <ul class="navbar-nav mr-auto">
			<li class="nav-item active">
			  <a class="nav-link">Left Link 1</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link">Left Link 2</a>
			</li>
		  </ul>
		  <ul class="navbar-nav ml-auto">
			<li class="nav-item">
			  <a class="nav-link">Right Link 1</a>
			</li>
			<li class="nav-item dropdown">
			  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown on Right</a>
			  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				<a class="dropdown-item" href="#">Action</a>
				<a class="dropdown-item" href="#">Another action with a lot of text inside of an item</a>
			  </div>
			</li>
		  </ul>
		</nav-->
		
		
		<nav class="navbar navbar-expand-lg navbar-light bg-light" style="direction: rtl;">
			<a class="navbar-brand" href="#">מטבחי רגבה - פורטל IT</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto" >
				<li class="nav-item {%- if request.path=='/home' %} active {% endif %}">
					<a class="nav-link" href="{{url_for('home')}}">בית</a>
				</li>
				{# if current_user.is_authenticated #}
				{% if current_user.isops %}
					<!--li class="nav-item {%- if request.path=='/rts_main' %} active {% endif %}">
						<a class="nav-link" href="{{url_for('rts_main')}}">פניות ל IT</a>
					</li-->
					<li class="nav-item dropdown {%- if request.path in ['/rts_main','/my_team_open_ticket'] %} active {% endif %}">
					  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">פניות ל IT </a>
					  <div class="dropdown-menu text-right" aria-labelledby="navbarDropdown" style="left: auto;">
						<a class="dropdown-item" href="{{url_for('my_team_open_ticket')}}" >פניות פתוחות לטיפול</a>
						<a class="dropdown-item" href="{{url_for('my_team_closed_ticket')}}">היסטוריית פניות שטופלו</a>
						<a class="dropdown-item" href="{{url_for('rts_main')}}">פתח פניה חדשה</a>
					  </div>
					</li>
				{% else %}
					<li class="nav-item {%- if request.path=='/rts_main' %} active {% endif %}">
						<a class="nav-link" href="{{url_for('rts_main')}}">פניות ל IT</a>
					</li>
				{% endif %}
				<!--li class="nav-item">
					<a class="nav-link" href="#">מחירים</a>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled" href="#">Disabled</a>
				</li-->
			</ul>
			<ul class="navbar-nav ml">
				{% if current_user.is_authenticated %}
					<li class="nav-item"><a class="nav-link" href="{{url_for('logout')}}"><i class="fas fa-sign-out-alt" aria-hidden="true"></i> יציאה</a></li>
				{% else %}
					<li class="nav-item"><a class="nav-link" href="{{url_for('login')}}"><i class="fas fa-sign-in-alt" aria-hidden="true"></i> כניסה</a></li>
				{% endif %}
			</ul>
		  </div>
		</nav>
	{%- endblock navbar %}
	
{%- endblock content %}


