.notifyjs-corner {
	top: 55px !important;
}

.container {
	direction : rtl;
}

.navbar {
	background-image: url("nav_img.png");
	font-weight: bold;
}


/*data table searchbox to the left
.dataTables_filter {
   float: left !important;
}
*/