{% extends "bootstrap/base.html" %}

{% block content %}

<h3>שלום לכולם</h3>
<p>
{% if current_user.is_authenticated %}
ברוך הבא {{ current_user.f_name }}
{% else %}
ברוכים הבאים
{% endif %}
לפורטל ה IT.
<br>
כאן תוכלו לבצע שלל פעולות מול מחלקת ה IT של הארגון.
</p>

{% if current_user.is_authenticated %}
	<table class="table-sm">
	  <tbody>
		<tr>
			<th scope="row">מספר יוזר</th>
			<td>{{ current_user.id }}</td>
		</tr>
		
		<tr>
			<th scope="row">שם משתמש</th>
			<td>{{ current_user.username }}</td>
		</tr>
		<tr>
			<th scope="row">שם</th>
			<td>{{ current_user.f_name }}</td>
		</tr>
		<tr>
			<th scope="row">שם משפחה</th>
			<td>{{ current_user.l_name }}</td>
		</tr>
		
		<tr>
			<th scope="row">יוזר מנהל</th>
			<td>{{ current_user.ismanager }}</td>
		</tr>
		<tr>
			<th scope="row">יוזר מבצעי (IsOps)</th>
			<td>{{ current_user.isops }}</td>
		</tr>
		<tr>
			<th scope="row">שם קבוצה</th>
			<td>{{ current_user.teamname }}</td>
		</tr>
		<tr>
			<th scope="row">תיאור קבוצה</th>
			<td>{{ current_user.teamdesc }}</td>
		</tr>
		<tr>
			<th scope="row">מחלקה (Class)</th>
			<td>{{ current_user.teamclassname }}</td>
		</tr>
	  </tbody>
	</table>
{% endif %}
{% endblock %}