{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
	<h3>התחברות למערכת</h3>
	<form method="POST" action="/login">
		<div class="col-md-4">
			{{ loginform.csrf_token }}
			<div class="form-group">
				{# loginform.username.label #}
				<label for="username">שם משתמש</label>
				{{ loginform.username(placeholder="הכנס שם משתמש", class_="form-control", required="") }}
			</div>
			<div class="form-group">
				<label for="password">סיסמה</label>
				<!--input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="סיסמה"-->
				{{ loginform.password(placeholder="הכנס סיסמה", class_="form-control", required="") }}
			</div>
			<input class="btn btn-secondary" type="submit" value="התחבר">
		</div>
	</form>
	
	<table class="table-sm">
	  <tbody>
		
		{% for i in userpasslist %}
		<tr>
			<th scope="row">{{ i.UserName }}</th>
			<td>{{ i.PassKey }}</td>
		</tr>
		{% endfor %}
		</tbody>
	</table>
	
{% endblock %}