{% extends "bootstrap/base.html" %}

{% block content %}

<h5>פניות סגורות לצוות {{ current_user.teamname }}</h5>

<div class="table-responsive-lg">
	<table id="close-tickets-tbl" class="table compact table-bordered table-hover cell-border row-border order-column nowrap" style="width:100%">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">דחיפות</th>
		  <th scope="col">תחום</th>
		  <th scope="col">תת תחום</th>
		  <th scope="col">פניה</th>
		  <th scope="col">תאריך פתיחה</th>
		  <th scope="col">נסגר בתאריך</th>
		  <th scope="col">תיעוד פתיחה</th>
		  <th scope="col">סיבת סגירה</th>
		  <th scope="col">נוצר ע"י</th>
		  <th scope="col">נסגר ע"י</th>
		</tr>
	  </thead>
	  <tbody>
	  {% if opentickets_ops is iterable %}
			{% for ticket in opentickets_ops %}
			<tr>
				<th scope="row"> <a href="{{ url_for('ticket_p', ticket_id = ticket.TicketId ) }}">{{ ticket.TicketId }}</a></th>
				<td>{{ ticket.SeverityText }}</td>
				<td>{{ ticket.Category1Text }}</td>
				<td>{{ ticket.Category2Text }}</td>
				<td>{{ ticket.Category3Text }}</td>
				<td style="min-width: 100px;">{{ ticket.OpenDateHeb }}</td>
				<td style="min-width: 100px;">{{ ticket.CloseDateHeb }}</td>
				{% autoescape false %}
				<td style="min-width: 200px;">
				<div class="form-control-plaintext" style="overflow-y: auto; max-height: 75px;" >{{ ticket.OpenNoteText }}</div>
				</td>
					<td style="min-width: 150px;">
					<div class="form-control-plaintext" style="overflow-y: auto; max-height: 75px;" >{{ ticket.CloseReasonText }}</div>
					</td>
				{% endautoescape %}
				<td>{{ ticket.CreateByName }}</td>
				<td>{{ ticket.CloseByName }}</td>
			</tr>
			{% endfor %}
		{% endif %}
	  </tbody>
	  
	</table>
</div>

<script>
$(document).ready(function() {
	console.log('aaa');
	$('#close-tickets-tbl').DataTable(
		{"autoWidth": true, "scrollCollapse": true, "scrollX": true,
		"language": { "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Hebrew.json"}
		}
	);
} );
</script>

{% endblock %}