{% extends "bootstrap/base.html" %}

{% block content %}

<h5>פניות פתוחות לצוות {{ current_user.teamname }}</h5>

<p>שלום לצוות,
להלן הפניות הפתוחות לטיפול</p>

<div class="table-responsive-lg">
	<!--table id="open-tickets-tbl" class="table table-hover table-sm table-bordered"-->
	<!--table compact table-bordered table-hover cell-border row-border order-column nowrap-->
	<table id="open-tickets-tbl" class="table compact table-bordered table-hover cell-border row-border order-column nowrap" style="width:100%">
	  <thead>
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">דחיפות</th>
		  <th scope="col">תחום</th>
		  <th scope="col">תת תחום</th>
		  <th scope="col">פניה</th>
		  <th scope="col">תאריך פתיחה</th>
		  <th scope="col">מועד סיום משוער</th>
		  <th scope="col">תיאור</th>
		  <th scope="col">הודעת מנהל</th>
		  <th scope="col">נוצר ע"י</th>
		</tr>
	  </thead>
	  <tbody>
	  {% if opentickets_ops is iterable %}
			{% for ticket in opentickets_ops %}
			<tr>
				<th scope="row"> <a href="{{ url_for('ticket_p', ticket_id = ticket.TicketId ) }}">{{ ticket.TicketId }}</a></th>
				<td>{{ ticket.SeverityText }}</td>
				<td>{{ ticket.Category1Text }}</td>
				<td>{{ ticket.Category2Text }}</td>
				<td>{{ ticket.Category3Text }}</td>
				<td style="min-width: 100px;" value="{{ticket.OpenDate}}">{{ ticket.OpenDateHeb }}</td>
				<td style="min-width: 100px;">{{ ticket.SLADateHeb }}</td>
				{% autoescape false %}
					<td style="min-width: 200px;">
						<div style="overflow-y: auto; max-height: 75px;">{{ ticket.OpenNoteText }}</div>
					</td>
					<td style="min-width: 100px;">
						<div style="overflow-y: auto; max-height: 75px;">{{ ticket.AssignManagerNote }}</div>
					</td>
				{% endautoescape %}
				<td>{{ ticket.CreateByName }}</td>
				
			</tr>
			{% endfor %}
		{% endif %}
	  </tbody>
	  
	</table>
</div>

<script>
$(document).ready(function() {
	console.log('aaa');
	$('#open-tickets-tbl').DataTable(
		{"autoWidth": true, "scrollCollapse": true, "scrollX": true,
		"language": { "url": "http://cdn.datatables.net/plug-ins/1.10.16/i18n/Hebrew.json"}
		}
	);
} );
</script>

{% endblock %}