{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<h5>פתיחת פניה חדשה</h5>
<p>שלום, אנא מלאו את כל השדות הבאים לפי ההוראות.
<br>
ככל שהמידע המוזן יהיה יותר מדוייק ורלוונטי הפניה תטופל ביותר יעילות.
</p>
<form class="needs-validation" novalidate method="POST" action="/open-ticket">
	<div class="form-group">
		{{ openticketform.csrf_token }}
			<div class="form-row">
				<div class="form-group col-md-1 col-auto">
						{{ openticketform.severitylist.label }}
						{{ openticketform.severitylist(class_="form-control", required="") }}
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-auto">
					<div class="input-group">
						{{ openticketform.category1list.label(class_="input-group-text") }}
						{{ openticketform.category1list(class_="custom-select", required="") }}
					</div>
				</div>
				<div class="form-group col-auto">
					<div class="input-group">
						{{ openticketform.category2list.label(class_="input-group-text") }}
						{{ openticketform.category2list(class_="custom-select", required="") }}
					</div>
				</div>
				<div class="form-group col-auto">
					<div class="input-group">
						{{ openticketform.category3list.label(class_="input-group-text") }}
						{{ openticketform.category3list(class_="custom-select", required="") }}
					</div>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6 col-auto">
					{{ openticketform.note.label }}
					{{ openticketform.note(class_="form-control", rows="3", required="") }}
				</div>
			</div>
			<div class="form-row">
				<button class="btn btn-primary" type="submit">פתח פניה</button>
			</div>
	</div>
	
	
</form>

<script>

	$('#note').summernote({height: 150, maxWidth: 250, minWidth: 100, lang: 'he-IL',
		popover: {image: [],link: [], air: []}});

	(function() {
	  'use strict';
	  window.addEventListener('load', function() {
		// Fetch all the forms we want to apply custom Bootstrap validation styles to
		var forms = document.getElementsByClassName('needs-validation');
		// Loop over them and prevent submission
		var validation = Array.prototype.filter.call(forms, function(form) {
		  form.addEventListener('submit', function(event) {
			if (form.checkValidity() === false) {
			  event.preventDefault();
			  event.stopPropagation();
			}
			form.classList.add('was-validated');
		  }, false);
		});
	  }, false);
	})();

$(document).ready(function(){

	function pop_cat1() {
		$.getJSON($SCRIPT_ROOT + '/_update_category1', {},
			function(data) {
				$('#category1list').append('<option disabled selected value> -- לא נבחר -- </option>');
				$('#category2list').append('<option disabled selected value> -- לא נבחר -- </option>');
				$('#category3list').append('<option disabled selected value> -- לא נבחר -- </option>');
				$.each(data, function(i, item) {
					console.log(item)
					$('#category1list').append($("<option />").val(item.Category1Id).text(item.Category1Text));
				});
			});
	};
	
	pop_cat1()




	$('#category1list').on('change', function() {
		console.log( this.value );
		var category1id = this.value
		$.getJSON($SCRIPT_ROOT + '/_update_category2', {
			category1id: category1id
		},
			function(data) {
				console.log(data);
				$('#category3list').children().remove();
				$('#category2list').children().remove();
				$('#category2list').append('<option disabled selected value> -- לא נבחר -- </option>');
				$('#category3list').append('<option disabled selected value> -- לא נבחר -- </option>');
				$.each(data, function(i, item) {
					console.log(item)
					$('#category2list').append($("<option />").val(parseInt(item.Category2Id)).text(item.Category2Text));
				});
			}
		);
	});
	
	$('#category2list').on('change', function() {
		console.log(this.value);
		var category2id = this.value
		$.getJSON($SCRIPT_ROOT + '/_update_category3', {
			category2id: category2id
		},
			function(data) {
				console.log(data);
				$('#category3list').children().remove();
				$('#category3list').append('<option disabled selected value> -- לא נבחר -- </option>');
				$.each(data, function(i, item) {
					console.log(item)
					$('#category3list').append($("<option />").val(item.Category3Id).text(item.Category3Text));
				});
			}
		);
	});
	
});
</script>
{% endblock %}
