{% extends "bootstrap/base.html" %}

{% block content %}
<h5>ברוכים הבאים למערכת הפניות</h2>
<p>
לפתיחת פניה חדשה אנא לחצו
<a href="{{ url_for('open_ticket') }}">פה</a>.
</p>

<h5>פניות פתוחות</h5>
<p>
טבלת רשימת הפניות הפתחות שלך, עם מועד סיום משוער.
</p>

<div class="table-responsive-lg">
	<table class="table table-hover table-sm table-bordered">
	  <thead class="thead-light">
		<tr>
		  <th scope="col">#</th>
		  <th scope="col">דחיפות</th>
		  <th scope="col">תחום</th>
		  <th scope="col">תת תחום</th>
		  <th scope="col">פניה</th>
		  <th scope="col">תאריך פתיחה</th>
		  <th scope="col">מועד סיום משוער</th>
		  <th scope="col">תיאור</th>
		</tr>
	  </thead>
	  <tbody>
		{% if opentickets_cust is iterable %}
			{% for ticket in opentickets_cust %}
			<tr>
				<th scope="row"> {{ ticket.TicketId }}</th>
				<td>{{ ticket.SeverityText }}</td>
				<td>{{ ticket.Category1Text }}</td>
				<td>{{ ticket.Category2Text }}</td>
				<td>{{ ticket.Category3Text }}</td>
				<td style="min-width: 100px;">{{ ticket.OpenDateHeb }}</td>
				<td style="min-width: 100px;">{{ ticket.SLAOrigDateHeb }}</td>
				<td style="min-width: 200px;">
				{% autoescape false %}
					<div style="overflow-y: auto; max-height: 75px;">{{ ticket.OpenNoteText }}</div>
				{% endautoescape %}
				</td>
			</tr>
			{% endfor %}
		{% endif %}
	  </tbody>
	  
	</table>
</div>

{% endblock %}