{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<div class="form-group border">
	<div class="form-row col-auto">
		<div class="form-group">
			<div class="input-group">
				<label for="ticketid" class="col-form-label font-weight-bold">מספר פניה</label>
				<input type="text" readonly class="col form-control-plaintext" id="ticketid" value="{{ ticket_header.TicketId }}">
			</div>
		</div>
		<div class="form-group">		
			<div class="input-group">
				<label for="SeverityText" class="col-form-label font-weight-bold">דחיפות</label>
				<input type="text" readonly class="col form-control-plaintext" id="SeverityText" value="{{ ticket_header.SeverityText }}">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label for="E_Name" class="col-form-label font-weight-bold">נוצר ע"י</label>
				<input type="text" readonly class="col form-control-plaintext" id="E_Name" value="{{ ticket_header.E_Name }}">
			</div>
		</div>
		{% if ticket_header.TicketStatusId != 4 %}
		<div class="form-group">
			<div class="input-group">
				<label for="ticket_status" class="col-form-label font-weight-bold">סטטוס פניה</label>&nbsp
				{{ updatep_ticketstatusform.ticket_status(class_="form-control custom-select", required="") }}
			</div>
		</div>
		{% else %}
		<div class="form-group">
			<div class="input-group">
				<label for="ticket_status" class="col-form-label font-weight-bold">סטטוס פניה</label>
				<input type="text" readonly class="col form-control-plaintext" id="ticket_status" val1="4" value="{{ ticket_header.TicketStatusText }}">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label for="CloseReasonText" class="col-form-label font-weight-bold">סיבת סגירה</label>
				<input type="text" readonly class="col form-control-plaintext" id="CloseReasonText" value="{{ ticket_header.CloseReasonText }}">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label for="CloseByName" class="col-form-label font-weight-bold">נסגר ע"י</label>
				<input type="text" readonly class="col form-control-plaintext" id="CloseByName" value="{{ ticket_header.CloseByName }}">
			</div>
		</div>
		<div class="form-group col-md">
			<div class="input-group">
				<label for="CloseDateHeb" class="col-form-label font-weight-bold">תאריך סגירה</label>
				<input type="text" readonly class="col form-control-plaintext" id="CloseDateHeb" value="{{ ticket_header.CloseDateHeb }}">
			</div>
		</div>
		{% endif %}
		<div class="form-group" id="status-btns">
				<a id="ticket_btn_status" href="#" class="btn btn-outline-secondary" role="button">עדכן</a>
		</div>
	</div>
	
	<div class="form-row col-auto">
		<div class="form-group col-md">
			<div class="input-group">
				<label for="opendate" class="col-form-label font-weight-bold">זמן פתיחת פניה</label>
				<input type="text" readonly class="col form-control-plaintext" id="opendate" value="{{ ticket_header.OpenDateHeb }}">
			</div>
		</div>
		<div class="form-group col-md">
			<div class="input-group">
				<label for="slaorigdate" class="col-form-label font-weight-bold">SLA ראשוני</label>
				<input type="text" readonly class="col form-control-plaintext" id="slaorigdate" value="{{ ticket_header.SLADateHeb }}">
			</div>
		</div>
	</div>
	
	<div class="form-row col-auto">
		<div class="form-group">
			<div class="input-group">
				<label for="staticEmail" class="col-form-label font-weight-bold">תחום</label>
				<input type="text" readonly class="col form-control-plaintext" id="staticEmail" value="{{ ticket_header.Category1Text }}">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label for="staticEmail" class="col-form-label font-weight-bold">תת תחום</label>
				<input type="text" readonly class="col form-control-plaintext" id="staticEmail" value="{{ ticket_header.Category2Text }}">
			</div>
		</div>
		<div class="form-group">
			<div class="input-group">
				<label for="staticEmail" class="col-form-label font-weight-bold">נושא בעיה</label>
				<input type="text" readonly class="col form-control-plaintext" id="staticEmail" value="{{ ticket_header.Category3Text }}">
			</div>
		</div>
	</div>
	<div class="form-row col-auto">
		<div class="form-group">
			<div class="input-group">
				<label for="staticEmail" class="mb-auto col-form-label font-weight-bold">תיעוד לקוח</label>
				<div class="col">
				{% autoescape false %}
					{{ ticket_header.OpenNoteText }}
				{% endautoescape %}
				</div>
			</div>
		</div>	
	</div>
</div>


<div class="form-group w-75">
	<div id="AddNoteTextArea" class="form-row">
		<div class="form-group">
			<label for="exampleFormControlTextarea1" class="col-form-label font-weight-bold">תיעוד</label>
			<!--textarea class="form-control" id="exampleFormControlTextarea1" rows="5" cols="200" style="resize: none;"></textarea-->
			{{ addticketnoteform.csrf_token }}
			{{ addticketnoteform.note_text(required="") }}
		</div>
	</div>	
	<div id="btn-div" class="form-inline">
		<!--div class="input-group"-->
			<div class="form-group">
				<button id="addnote-btn" class="btn btn-outline-dark" type="submit">הוסף תיעוד</button>
			</div>

			<div class="form-group">
				{{ addticketnoteform.close_ticket(class_="form-check-input") }}&nbsp
				<label class="form-check-label" for="close_ticket">סגירת פניה</label>&nbsp
			</div>
			
			<!--div id="close_reason" class="form-check form-check-inline" style="display: none;">
			{{ addticketnoteform.close_reason }}&nbsp
			<label class="form-check-label" for="close_ticket">סיבת סגירה</label> 
			</div-->
			<div id="close_reason_div" class="form-group" style="display: none;">
				<div class="input-group">
						<label class="col-form-label" for="close_reason">סיבת סגירה</label>&nbsp
						{{ addticketnoteform.close_reason(class_="form-control") }}
				</div>
			</div>
			
		<!--/div-->
	</div>
	<div class="form-group">
		<a class="btn btn-link" href="{{ url_for('my_team_open_ticket') }}">חזור</a>
	</div>
</div>

<div class="table-responsive">
<table class="table table-hover table-sm table-bordered">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">סוג תיעוד</th>
      <th scope="col">תיעוד</th>
      <th scope="col">נוצר בתאריך</th>
	  <th scope="col">נוצר ע"י</th>
    </tr>
  </thead>
  <tbody id="notes_hist_tbody">
  </tbody>
</table>
</div>


<!--script type="text/javascript">
	bkLib.onDomLoaded(function() 
		{ new nicEditor({fullPanel : true}).panelInstance('note_text'); }
	);
</script-->
  
  
<script>
	
$(document).ready(function(){
	
	var ticketid = $('#ticketid').val()
	var orig_status = $('#ticket_status').val();
	
	$('#close_ticket:checkbox').change(function(){
    if($(this).is(':checked')){
        $('#addnote-btn').text('סגור פניה').removeClass('btn-outline-dark')
				.addClass('btn-outline-success');;
		$('#close_reason_div').css('display', '')
		} else {
		$('#addnote-btn').text('הוסף תיעוד').removeClass('btn-outline-success')
				.addClass('btn-outline-dark');;
		$('#close_reason_div').css('display', 'none')
		}
	});
		
	// ticket_btn_status
	function btn_update_status() {		
		console.log($('#ticket_status').prop("disabled"));
		var cur_ticket_status = $('#ticket_status').val();
		console.log($('#ticket_status').val() == orig_status);
		if ($('#ticket_status').prop("disabled")) {
			$('#ticket_status').prop("disabled", false);
			$('#ticket_btn_status').removeClass('btn-outline-secondary')
				.addClass('btn-outline-success');
			$('#status-btns').append('<a id="ticket_btn_cancel" href="#" class="btn btn-link" role="button">בטל</a>');
			$('#ticket_btn_cancel').on("click", function () { update_status_selection(orig_status) })
		} else if (cur_ticket_status == orig_status) {
			update_status_selection(orig_status);
			$('#ticket_btn_status').removeClass('btn-outline-success')
				.addClass('btn-outline-secondary');
		} else {
			$.post($SCRIPT_ROOT + '/_update_ticket_status', {ticket_status: cur_ticket_status, ticketid : ticketid});
			orig_status = cur_ticket_status
			$('#ticket_btn_status').removeClass('btn-outline-success')
				.addClass('btn-outline-secondary');
			update_status_selection(cur_ticket_status);
			setTimeout(function() {gen_notes_tbl();},1000)
			
		}
	};
	 // || $('#ticket_status').val() == orig_status
	$('#ticket_btn_status').on("click", function () { btn_update_status() })
	
	function update_status_selection(status) {
		$('#ticket_status').val(status);
		$('#ticket_status').prop("disabled", true);
		$('#ticket_btn_cancel').remove();
		// $('#ticket_btn_status').one("click", function () { btn_update_status() })
	}
	
	
	//$('#ticket_btn_cancel').on("click", function () { console.log('aaa') })
	
	
	function add_note() {
		var note_text = $('#note_text').val()
		var close_ticket = $('#close_ticket').is(':checked')
		console.log(typeof(close_ticket));
		if (close_ticket) {
			$('#addnote-btn').remove();
		}
		var close_reason = $('#close_reason').val()
		
		if (note_text.length != 0) {
			$.post($SCRIPT_ROOT + '/_add_note', {note_text: note_text, ticketid : ticketid, close_ticket : close_ticket,
				close_reason : close_reason},
				function(note_status_type){ 
					if (note_status_type == 3) {
						
						setTimeout(function() {location.reload();},1000)
					}						
					gen_notes_tbl() 
				});
			$.notify("התיעוד נוסף בהצלחה", { className: "success", globalPosition: 'top left' });
			$('#note_text').summernote('code', '');
		}
	};
	$('#addnote-btn').on("click", function () { add_note() })
	
	function gen_notes_tbl () {
		$("#notes_hist_tbody").empty();
		console.log(ticketid);
		$.getJSON($SCRIPT_ROOT + '/_get_notes_hist', {ticketid : ticketid},
			function(notes_data) {
				console.log(notes_data);
				$.each(notes_data, function(i, n_item) {
					var tbl_row = $('<tr>');
					tbl_row.append($('<th scope="row">' + n_item.NoteId + '</th>'));
					tbl_row.append($('<td>' + n_item.NoteTypeText + '</td>'));
					tbl_row.append($('<td style=white-space:pre>' + n_item.NoteText + '</td>'));
					tbl_row.append($('<td>' + n_item.CreateDate + '</td>'));
					tbl_row.append($('<td>' + n_item.E_Name + '</td>'));
				$("#notes_hist_tbody").append(tbl_row);
				});
			}
		);
	};
	
	gen_notes_tbl()
	
	$('#note_text').summernote({height: 180, maxWidth: 800, minWidth: 100, lang: 'he-IL',
		popover: {image: [],link: [], air: []}});
	
	if ( $('#ticket_status').attr('val1') == 4 ) {
		$('#status-btns').remove();
		$('#AddNoteTextArea').remove();
		$('#btn-div').remove();
	}
	
});
</script>


{% endblock %}